<mat-toolbar>
  <span>Liste des clients</span>
  <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
    <mat-icon>info</mat-icon>
  </button>
  <span class="example-spacer"></span>

    <div class="nav-wrapper">
      <div class="sl-nav">
        <ul>
          <li><i class="sl-flag flag-fr"></i><span>Français</span> <i class="fa fa-angle-down" aria-hidden="true"></i>
            <div class="triangle"></div>
            <ul>
              <li><i class="sl-flag flag-fr"><div id="germany"></div></i> <span class="active">Français</span></li>
              <li><i class="sl-flag flag-arabe"><div id="germany"></div></i> <span>Arabe</span></li>
              <li><i class="sl-flag flag-usa"><div id="germany"></div></i> <span>Anglais</span></li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
    <mat-toolbar>
      <a mat-icon-button>
        <mat-icon>account_circle</mat-icon>
      </a>
      </mat-toolbar>

</mat-toolbar>
