<div class="d-flex justify-content-center">
  <div class="col-8">
    <div *ngIf="productProvisioning">
      <h2 data-cy="productProvisioningDetailsHeading">
        <span jhiTranslate="frontEndApp.productProvisioning.detail.title">Product Provisioning</span>
      </h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ productProvisioning.id }}</span>
        </dd>
        <dt><span jhiTranslate="frontEndApp.productProvisioning.quantite">Quantite</span></dt>
        <dd>
          <span>{{ productProvisioning.quantite }}</span>
        </dd>
        <dt><span jhiTranslate="frontEndApp.productProvisioning.dateProcuration">Date Procuration</span></dt>
        <dd>
          <span>{{ productProvisioning.dateProcuration | formatMediumDatetime }}</span>
        </dd>
        <dt><span jhiTranslate="frontEndApp.productProvisioning.product">Product</span></dt>
        <dd>
          <div *ngIf="productProvisioning.product">
            <a [routerLink]="['/product', productProvisioning.product.id, 'view']">{{ productProvisioning.product.id }}</a>
          </div>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/product-provisioning', productProvisioning.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
